extends layout

block content
	.container
		.jumbotron
			.container	 
				h1 How may I help You?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum corporis dolores voluptatibus saepe eaque et fugiat explicabo, voluptate iusto, minus sunt assumenda similique ea nulla exercitationem temporibus numquam animi! Autem!
				a.btn.btn-primary.btn-lg(href='#') learn more &raquo;
		.container
			.row
				.col-md-4
					h2 About US
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequuntur autem sint labore laudantium molestias veritatis odit aspernatur assumenda quod dolor voluptatum ducimus maiores reprehenderit corrupti, sed soluta, neque eos.
					a.btn.btn-default(href='#') view details
				.col-md-4
					h2 Services
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequuntur autem sint labore laudantium molestias veritatis odit aspernatur assumenda quod dolor voluptatum ducimus maiores reprehenderit corrupti, sed soluta, neque eos.
					a.btn.btn-default(href='#') view details
				.col-md-4
					h2 Get in Touch
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis consequuntur autem sint labore laudantium molestias veritatis odit aspernatur assumenda quod dolor voluptatum ducimus maiores reprehenderit corrupti, sed soluta, neque eos.
					a.btn.btn-default(href='#') view details


